<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 日志根目录 -->
    <property name="LOG_PATH" value="logs"/>

    <!-- 减少无用的启动日志 -->
    <logger name="orange.wz.OrangeWzApplication" level="WARN"/>

    <!-- ================= 控制台 ================= -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%-30thread] %-5level %-25logger{1} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- ================= 文件（启动即生成） ================= -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按月目录 + 启动时间戳 -->
            <fileNamePattern>
                ${LOG_PATH}/%d{yyyy-MM}/OrzRepacker-%d{yyyy-MM-dd_HH-mm-ss}.log
            </fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- ================= APP 日志 ================= -->
    <appender name="APP" class="orange.wz.log.LogAppender"/>

    <!-- ================= Root ================= -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="APP"/>
    </root>

</configuration>
